notifications:
  email: false

sudo: false

language: python

matrix:
  fast_finish: true

python:
  - "2.7"

services:
  - docker

install:
  - "docker build -t xrootd-openshift-test-centos7 . -f Dockerfile-centos7"
  - "docker build -t xrootd-openshift-test-centos7-from-sources . -f Dockerfile-building-xrootd-from-sources"

script:
  - "docker run --rm xrootd-openshift-test-centos7"
  - "docker run --rm xrootd-openshift-test-centos7-from-sources"
